Tuple = ()
1. immutable
2. ordered
3. allows duplicate elements

Built-in immutable sequence.


If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

In [ ]:
#mytuple=("Max",28,"Austin")
empty=()
print(empty)
#If no argument is given, the constructor returns an empty tuple.
mytuple="Max",28,"Austin"
#even if u sont put paranthesis, it is tuple
print(mytuple)

()
('Max', 28, 'Austin')

In [ ]:
mytuple_1_element=("Max")
print(mytuple_1_element)
#not recognized as a tuple if single element even if we keep parenthesis
print(type(mytuple_1_element))

#To make a single element as tuple, u need to put a comma
mytuple_1_element_with_comma=("Max",)
print(mytuple_1_element_with_comma)
print(type(mytuple_1_element_with_comma))

Max
<class 'str'>
('Max',)
<class 'tuple'>

tuple()

In [ ]:
mt=tuple(["Max",28,"Boston"])
print(mt)
item= mt[0]
print(item)
itemneg= mt[-1]
print(itemneg)

('Max', 28, 'Boston')
Max
Boston

In [ ]:
mt[0]="Tim"
#error

TypeError: ignored

In [ ]:
for i in mt:
  print(i)

In [ ]:
if "Max" in mt:
  print("Yes")
else:
  print("No")

Yes

len()

In [ ]:
mta=("a",'b','a','d','e')
print(len(mta))

5

.count()

In [ ]:
print(mta.count('a'))
print(mta.count('o'))

2
0

.index() # index of the 1st element

In [ ]:
print(mta.index('a'))

0

In [ ]:
ml=list(mta)
print(ml)

mta2 =tuple(ml)
print(mta2)
print(mta)

['a', 'b', 'a', 'd', 'e']
('a', 'b', 'a', 'd', 'e')
('a', 'b', 'a', 'd', 'e')

Slicing

In [ ]:
a=(1,2,3,4,5,6,7,8,9,10)
b=a[2:5]
c=a[::2]
print(b)
print(c)

(3, 4, 5)
(1, 3, 5, 7, 9)

assigning to variable

In [ ]:
mt="Max",28,"Boston"
name,age,city=mt
print(name)
print(age)
print(city)
#no. of elements shud match to variable

Max
28
Boston

i1,*i2,i3 = 8 for middle all elements

In [ ]:
mta=(0,1,2,3,4)
i1, *i2, i3 =mta
print(i1)
print(i3)
print(i2)

0
4
[1, 2, 3]

# Compare tuple to list
* LIST IS LARGER

In [ ]:
import sys
ml=[0,1,2,"hello",True]
mt=(0,1,2,"hello",True)
print(sys.getsizeof(ml),"bytes")
print(sys.getsizeof(mt),"bytes")

112 bytes
96 bytes

* LIST TAKES LONGER TIME TO GET CREATED THAN TUPLE

In [ ]:
import timeit
print(timeit.timeit(stmt="[0,1,2,3,4,5]",number=1000000))
print(timeit.timeit(stmt="(0,1,2,3,4,5)",number=1000000))

0.11488228300004266
0.015143886999794631