SETS

1. unordered
2. mutable
3. No duplicates

In [1]:
myset={1,2,3}
print(myset)

{1, 2, 3}

In [2]:
myset={1,2,3,1,2}
print(myset)

{1, 2, 3}

In [5]:
myset={1,2,3}
print(myset)

{1, 2, 3}

In [7]:
myset=set({"Hello"})
print(myset)

{'Hello'}

In [10]:
myset={}
print(myset)
print(type(myset))

# so to be a set

myset2=set({})
print(myset2)
print(type(myset2))

{}
<class 'dict'>
set()
<class 'set'>

Add Elements

In [19]:
myset=set({})

myset.add(1)
myset.add(2)
myset.add(3)

print(myset)

{1, 2, 3}

Remove Elements

remove()

In [17]:
myset=set({})

myset.add(1)
myset.add(2)
myset.add(3)
myset.remove(3)

print(myset)

{1, 2}

discard()

In [20]:
myset=set({})

myset.add(1)
myset.add(2)
myset.add(3)
a=myset.discard(4)

print(myset)

{1, 2, 3}

In [22]:
myset=set({})

myset.add(1)
myset.add(2)
myset.add(3)
myset.discard(3)

print(myset)

{1, 2}

In [24]:
print(myset)

{1, 2}

In [25]:
myset=set({})

myset.add(1)
myset.add(2)
myset.add(3)

myset.clear()

print(myset)

set()

In [28]:
myset=set({})

myset.add(1)
myset.add(2)
myset.add(3)

print(myset.pop())
print(myset)

1
{2, 3}

TypeError: add() takes exactly one argument (2 given)

In [29]:
myset=set({})

myset.add(1)
myset.add(2)
myset.add(3)

for i in myset:
  print(i)

1
2
3

In [31]:
if 1 in myset:
  print("Yes")

Yes

UNION

In [32]:
odds={1,3,5,7,9}
evens={0,2,4,6,8}
primes={2,3,5,7}

u=odds.union(evens)
print(u)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

INTERSECTION

In [34]:
odds={1,3,5,7,9}
evens={0,2,4,6,8}
primes={2,3,5,7}

u=odds.intersection(evens)
print(u)

v=odds.intersection(primes)
print(v)

set()
{3, 5, 7}

DIFFERENCE

In [36]:
setA={1,2,3,4,5,6,7,8,9}
setB={1,2,3,10,11,12}

diff=setA.difference(setB)
print(diff)

diff2=setB.difference(setA)
print(diff2)

{4, 5, 6, 7, 8, 9}
{10, 11, 12}

SYMMETRIC DIFFERENCE

In [38]:
setA={1,2,3,4,5,6,7,8,9}
setB={1,2,3,10,11,12}

symdiff=setA.symmetric_difference(setB)
print(symdiff)

symdiff2=setB.symmetric_difference(setA)
print(symdiff2)

{4, 5, 6, 7, 8, 9, 10, 11, 12}
{4, 5, 6, 7, 8, 9, 10, 11, 12}

## UPDATE

In [40]:
setA={1,2,3,4,5,6,7,8,9}
setB={1,2,3,10,11,12}

setA.update(setB)
print(setA)
print(setB)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 10, 11, 12}

## INTERSECTION UPDATE

In [41]:
setA={1,2,3,4,5,6,7,8,9}
setB={1,2,3,10,11,12}

setA.intersection_update(setB)
print(setA)

{1, 2, 3}

## DIFFERENCE UPDATE

In [42]:
setA={1,2,3,4,5,6,7,8,9}
setB={1,2,3,10,11,12}
 
setA.difference_update(setB)
print(setA)

{4, 5, 6, 7, 8, 9}

## SYMMETRIC DIFFERENCE UPDATE

In [43]:
setA={1,2,3,4,5,6,7,8,9}
setB={1,2,3,10,11,12}
 
setA.symmetric_difference_update(setB)
print(setA)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

## ISSUBSET

In [45]:
setA={1,2,3,4,5,6,7,8,9}
setB={1,2,3}
 
print(setA.issubset(setB))
print(setB.issubset(setA))

False
True

## ISSUPERSET

if set A has all the elements of set b then set a is superset of B

In [46]:
setA={1,2,3,4,5,6,7,8,9}
setB={1,2,3}
 
print(setA.issuperset(setB))
print(setB.issuperset(setA))

True
False

## ISDISJOIN

have same elements then false

In [50]:
setA={1,2,3,4,5,6,7,8,9}
setB={1,2,3}
setC={7,8}

print(setA.isdisjoint(setB))
print(setB.isdisjoint(setA))
print(setB.isdisjoint(setC))

False
False
True

## making copy of set

In [54]:
setA ={1,2,3,4,5,6}

setB=setA

setB.add(7)
print(setB)
print(setA)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

making copy of the set without changing the original set

In [59]:
setA ={1,2,3,4,5,6}

setB=setA.copy()

setB.add(7)
print(setB)
print(setA)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6}

In [60]:
setA ={1,2,3,4,5,6}

setB=set(setA)

setB.add(7)
print(setB)
print(setA)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6}

## frozenset() -  cant modify after initiation

In [61]:
a = frozenset([1,2,3,4])
print(a)

frozenset({1, 2, 3, 4})

In [65]:
#a.add(1)
#a.remove(2)
print(a)
#AttributeError: 'frozenset' object has no attribute 'add'
#AttributeError: 'frozenset' object has no attribute 'remove'

frozenset({1, 2, 3, 4})